.feature-item::before {
  display: block;
  padding: 0;
  fill: #afb1b8;
}

.feature-icon {
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-right: 30px;
  padding: 25px 100px;
  width: 270px;
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  transition-property: #f5f4fa;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.icons {
  padding: 0;
  border: none;
  margin-right: 10px;
  margin-bottom: 30px;
  background-color: #ffffff;
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #2196f3;
    fill: #ffffff;
    border-radius: 50%;
  }
}

.button-icon {
  width: 44px;
  height: 44px;
  padding: 12px;
  cursor: pointer;

  &:active {
    fill: greenyellow;}
}

.icon-footer {
  fill: #ffffff;
  width: 44px;
  height: 44px;
  padding: 12px;
  cursor: pointer;
}

.btn-icon {
  padding: 0;
  border: none;
  margin-right: 10px;
  margin-bottom: 30px;
  border-radius: 50% 50%;
  width: 44px;
  height: 44px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    rgba(255, 255, 255, 0.1);
  transition-property: rgba(33, 150, 243, 0.9);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrapper:focus-within > .icon-input {
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-input {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.icon-size {
  width: 15px;
  height: 15px;
}
.btn-subscribe {
  background-image: url(/img/icon-send.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 83%;
  background-position-y: 65%;

  &:hover {
    color: #ffffff;
    background-color: #0f60a1;
  }
}

.client-item {
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  cursor: pointer;
  transition-property: rgba(33, 150, 243, 0.9);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section .client-flex-list {
  display: flex;
  justify-content: center;

  &:last-child {
  margin-right: 0;}
}
.client-flex {
  padding: 0;
  fill: #afb1b8;
  margin-right: 30px;
}

.client {
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &:hover {
    background-color: #ffffff;
    border: 1px solid #2196f3;
    border-radius: 4px;
    fill: #2196f3;
  }
}

.actions {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}
