$color: #212121;
$bg-color: #f5f5f5;
$prymary-text-color: #757575;
$secondary-text-color: #2196f3;
$primary-fill: #afb1b8;
$secondary-fill: #2196f3;

.page {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, Raleway, sans-serif;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  margin-top: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.section {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-item {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 94px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  /*outline: 2px solid tomato;*/
}

input,
textarea {
  outline: none;
}
.position {
  color: $text-color;
}



.site-nav-list,
.contacts-nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.title-main {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.title-team {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.position {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.feature,
.contact-list {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.link-nav,
.link-mail,
.link-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.title-project {
  margin-top: 20px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.type {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.contact-list .link:active,
.contacts-nav .link:active {
  color: red;
}

.link-contact {
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-tel {
  color: #757575;
  transition-property: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-mail {
  color: #2196f3;
  transition-property: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav {
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.position {
  color: #757575;
}

/*hero*/
.hero {
  display: block;
  background-color: #2f303a;
  text-align: center;

  padding-bottom: 200px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title,
.link-adress {
  color: #ffffff;
}

.page-header {
  background-color: #ffffff;
  border: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.link-item {
  color: #2196f3;
}

.link-item:after {
  position: relative;
  content: "";
  display: block;
  max-width: 78px;
  height: 4px;
  bottom: -32px;
  padding: 0;
  background-color: #2196f3;
  border-radius: 2px;
}

/*section*/
.section-team {
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-item {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 94px;
}

.projects {
  padding-bottom: 94px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-list {
  margin-top: 20px;
  margin-bottom: 0;
}

.link-adress,
.link-contact {
  padding-top: 0;
  padding-bottom: 9px;
}

.site-nav-list,
.feature-list,
.img-list,
.button-list {
  display: flex;
}

.href {
  margin-right: 50px;
}

.button-list li {
  margin-top: 0;
  margin-right: 8px;
  margin-bottom: 34px;
}

.button-list {
  justify-content: center;
}

.button-list li:last-child {
  margin-right: 0;
}

.site-nav-list .href:last-child {
  margin-right: 0;
}

.feature,
.picture {
  margin-top: 0;
  margin-right: 30px;
}

.picture:last-child,
.feature:last-child {
  margin-right: 0;
}

.contacts-nav-list {
  display: flex;
}

.contact-nav {
  margin-right: 30px;
}

.contact-nav:last-child {
  margin-right: 0;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1218px;
}

.site-nav-list {
  margin-left: 93px;
}

.contacts-nav-list {
  margin-left: 318px;
}

.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url(/img/overlay.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.flex-team-list {
  display: flex;
}
.flex-team-list li:last-child {
  margin-right: 0;
}
.flex-team {
  margin-right: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-team {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #f5f4fa;
}

.feature-item::before {
  display: block;
  padding: 0;
  fill: #afb1b8;
}

.feature-icon {
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-right: 30px;
  padding: 25px 100px;
  width: 270px;
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  transition-property: #f5f4fa;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.feature-icon:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.contact-button {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  padding-top: 34px;
  padding-bottom: 34px;
  padding: 0;
  border: none;
  max-width: 16px;
  max-height: 16px;
  background-color: #ffffff;
  cursor: pointer;
}
.link-mail,
.link-tel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #757575;
  &:hover {
    fill: #2196f3;
  }
}

.title-social-media {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: #2196f3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.product-action {
  display: flex;
  position: absolute;
  width: 370px;
  height: 70px;
  top: 224px;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  background-color: rgba(47, 48, 58, 0.8);
  justify-content: space-around;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.app {
  position: relative;
}
